{% extends 'base.html' %} {% block title %} | Register Account {% endblock %} {% block content %}
<section id="post" class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h4>
                            <i class="fas fa-user-plus"></i> Đăng bài viết</h4>
                    </div>
                    <div class="card-body">
                        <!-- Alerts -->
                        {% include 'partials/_alerts.html' %}
                        <form action="{% url 'realtor_listings_create' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="first_name">Tiêu đề</label>
                                <input type="text" name="title" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="description">Mô tả</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" name="description" id="description" col=4 row=8 maxlength="60000"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="address">Địa chỉ</label>
                                <input type="text" name="address" class="form-control" required>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="city">Thành phố</label>
                                    <input type="text" name="city" class="form-control" required>
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="state">Quận/Huyện</label>
                                    <input type="text" name="state" class="form-control" required>
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="zipcode">Zip Code</label>
                                    <input type="text" name="zipcode" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="price">Giá</label>
                                    <input type="number" name="price" class="form-control" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="sqft">Diện tích</label>
                                    <input type="number" name="sqft" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="bedrooms">Phòng ngủ</label>
                                    <input type="number" name="bedrooms" class="form-control" required>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="bathrooms">Phòng tắm</label>
                                    <input type="number" name="bathrooms" class="form-control" required>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="garage">Garage</label>
                                    <input type="number" name="garage" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="image">Ảnh chính</label>
                                <input type="text" name="preview" class="form-control " required>
                            </div>
                            <div class="form-group">
                                <label for="photo_1">Ảnh mô tả 1</label>
                                <input type="text" name="photo_1" class="form-control " >
                            </div>
                            <div class="form-group">
                                <label for="photo_2">Ảnh mô tả 6</label>
                                <input type="text" name="photo_2" class="form-control " >
                            </div>
                            <div class="form-group">
                                <label for="photo_3">Ảnh mô tả 6</label>
                                <input type="text" name="photo_3" class="form-control " >
                            </div>
                            <div class="form-group">
                                <label for="photo_4">Ảnh mô tả 6</label>
                                <input type="text" name="photo_4" class="form-control " >
                            </div>
                            <div class="form-group">
                                <label for="photo_5">Ảnh mô tả 6</label>
                                <input type="text" name="photo_5" class="form-control " >
                            </div>
                            <div class="form-group">
                                <label for="photo_6">Ảnh mô tả 6</label>
                                <input type="text" name="photo_6" class="form-control " >
                            </div>

                            <input type="submit" value="Tạo" class="btn btn-secondary btn-block ">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
