{% extends 'base.html' %} 

{% load static %}

{% block title %} | Nhà môi giới tiêu biểu {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="display-4">Bất động sản Việt Nam</h1>
          <p class="lead">Nhanh chóng, tiện lợi, không trung gian là những gì dịch vụ của chúng tôi sẽ cung cấp cho bạn !</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i>Trang chủ</a>
          </li>
          <li class="breadcrumb-item active">Về chúng tôi</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Work -->
  <section id="work" class="bg-dark text-white text-center">
    <h2 class="display-4">Chúng tôi làm nỗ lực làm việc phục vụ các bạn !</h2>
    <h4>Ưu tín, nhanh chóng, hài lòng.</h4>
    <hr>
    <a href="{% url 'listings' %}" class="btn btn-secondary text-white btn-lg">Danh sách bất động sản</a>
  </section>

  <!-- Team -->
  <section id="team" class="py-5">
    <div class="container">
      <h2 class="text-center">Nhóm chúng tôi</h2>
      <div class="row text-center">
          <div class="col-md-6">
              <img src="https://raw.githubusercontent.com/containrrr/shoutrrr/master/docs/shoutrrr-logotype.png" alt="" class="rounded-circle mb-3">
              <h4>Đào Minh Hải</h4>
              <p class="text-success">
                <i class="fas fa-award text-success mb-3"></i>CEO</p>
              <hr>
              <p>
                <i class="fas fa-phone"></i>0986868686</p>
              <p>
                <i class="fas fa-envelope-open"></i>barrydevp@gmail.com</p>
          </div>
          <div class="col-md-6">
              <img src="https://raw.githubusercontent.com/containrrr/shoutrrr/master/docs/shoutrrr-logotype.png" alt="" class="rounded-circle mb-3">
              <h4>Lại Ngọc Tân</h4>
              <p class="text-success">
                <i class="fas fa-award text-success mb-3"></i> CEO</p>
              <hr>
              <p>
                <i class="fas fa-phone"></i> 0986868686</p>
              <p>
                <i class="fas fa-envelope-open"></i> barrydevp@gmail.com</p>
          </div>
      </div>
    </div>
  </section>

  <section id="about" class="py-4">
    <h2 class="text-center">Nhà môi giới của tháng</h2>
    <div class="container">
      <div class="row">
          {% if realtors %}
            {% for realtor in realtors %}
            <div class="card col-md-4">
                <img class="card-img-top" src="{{ realtor.photo }}" alt="Seller of the month">
                <div class="card-body">
                  <h6 class="text-secondary">{{ realtor.user.first_name }} {{ realtor.user.last_name }}</h6>
                  <p class="card-text">{{ realtor.description }}
                  </p>
                </div>
             </div>
            {% endfor %}
          {% endif %}
      </div>
    </div>
  </section>

{% endblock %}
