{% extends 'base.html' %} 

{% load humanize %}

{% block title %} | Welcome {% endblock %}

{% block content %}
<!-- Showcase -->
<section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Tìm kiếm nhanh chóng
          </h1>
          <p class="lead">Sử dụng chức năng tìm kiếm của chúng tôi để nhanh chóng tìm thấy căn hộ phù hợp với bạn!</p>
          <div class="search">
            <form action="{% url 'search' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">Từ khóa</label>
                <input type="text" name="keywords" class="form-control" placeholder="Tìm kiếm từ khóa trong tiêu đề và nội dụng" value="{{ values.keywords }}">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">Thành phố</label>
                <input type="text" name="city" class="form-control" placeholder="Thành phố" value="{{ values.city }}">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">Quận/huyện</label>
                <input type="text" name="state" class="form-control" placeholder="Quận/huyện" value="{{ values.state }}">
              </div>
            </div>
            <!-- Form Row 2 -->
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label class="sr-only">Phòng ngủ</label>
                <select name="bedrooms" class="form-control">
                  <option selected="true" disabled="disabled">Phòng ngủ (tất cả)</option>
                  {% for key,value in bedroom_choices.items %}
                      <option value="{{ key }}"
                      {% if key == values.bedrooms %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <select name="price" class="form-control">
                  <option selected="true" disabled="disabled">Giá (tất cả)</option>
                  {% for key,value in price_choices.items %}
                      <option value="{{ key }}"
                      {% if key == values.price %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">Tìm kiếm</button>
          </form>
          </div>
        </div>
      </div>
    </div>
  </section>
<br>
  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <!-- Listings -->
  <section id="listings" class="py-5">
    <div class="container">
      <h3 class="text-center mb-3">Bất động sản mới nhất</h3>
      <div class="row">
        {% if listings %}
          {% for listing in listings %}
            <!-- Listing 1 -->
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="card listing-preview">
                <img class="card-img-top" src="{{ listing.preview }}" alt="">
                <div class="card-img-overlay">
                  <h2>
                    {% if listing.price <= 0.0 %}
                    <span class="badge badge-secondary text-white price-badge">Giá liên hệ</span>
                    {% else %}
                    <span class="badge badge-secondary text-white price-badge">${{ listing.price | intcomma }}</span>
                    {% endif %}
                  </h2>
                </div>
                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h4 class="text-primary">{{ listing.title }}</h4>
                    <p>
                      <i class="fas fa-map-marker text-secondary"></i> {{ listing.city }} {{ listing.state }}, {{ listing.zipcode }}</p>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-th-large"></i> Diện tích: {{ listing.sqft }}m2
                    </div>
                    <div class="col-6">
                      <i class="fas fa-car"></i> Garage: {{ listing.garage }}
                    </div>
                  </div>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-bed"></i> Phòng ngủ: {{ listing.bedrooms }}</div>
                    <div class="col-6">
                      <i class="fas fa-bath"></i> Phòng tắm: {{ listing.bathrooms }}</div>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-user"></i>{{ listing.realtor }}
                    </div>
                    <div class="col-6">
                      <i class="fas fa-clock"></i>{{ listing.list_date | timesince }}
                    </div>
                  </div>
                  <div class="row text-secondary pb-2">
                    <hr>
                    <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">Thông tin chi tiết</a>
                  </div>
              </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>Không có bất động sản nào tại thời điểm hiện tại.</p>
          </div>
        {% endif %}

      </div>
    </div>
  </section>

  <section id="services" class="py-5 bg-secondary text-white">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fas fa-comment fa-4x mr-4"></i>
          <hr>
          <h3>Dịch vụ</h3>
          <p>Lắng nghe, thấu hiểu nhu cầu của bạn. Cam kết đem đến cho bạn trải nghiệm thú vị.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-home fa-4x mr-4"></i>
          <hr>
          <h3>Quản lý nhà đất</h3>
          <p>Phong phú, luôn cập nhật những tin tức mới nhất, phù hợp với mọi nhu cầu.</p>
        </div>
        <div class="col-md-4">
          <i class="fas fa-suitcase fa-4x mr-4"></i>
          <hr>
          <h3>Cho thuê và bán</h3>
          <p>Nhanh chóng, dễ dàng, tin cậy, cam kết đảm báo các quyền lợi cho các đối tác của chúng tôi.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}