{% extends 'base.html' %}

{% load humanize %}

{% block title %} | Search Results {% endblock %}

{% block content %}
<section id="showcase-inner" class="showcase-search text-white py-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <form action="{% url 'search' %}">
            <!-- Form Row 1 -->
            <div class="form-row">
              <div class="col-md-4 mb-3">
                <label class="sr-only">Từ khóa</label>
                <input type="text" name="keywords" class="form-control" placeholder="Tìm kiếm từ khóa trong tiêu đề và nội dụng" value="{{ values.keywords }}">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">Thành phố</label>
                <input type="text" name="city" class="form-control" placeholder="Thành phố" value="{{ values.city }}">
              </div>

              <div class="col-md-4 mb-3">
                <label class="sr-only">Quận/huyện</label>
                <input type="text" name="state" class="form-control" placeholder="Quận/huyện" value="{{ values.state }}">
              </div>
            </div>
            <!-- Form Row 2 -->
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label class="sr-only">Phòng ngủ</label>
                <select name="bedrooms" class="form-control">
                  <option selected="true" disabled="disabled">Phòng ngủ (tất cả)</option>
                  {% for key,value in bedroom_choices.items %}
                      <option value="{{ key }}"
                      {% if key == values.bedrooms %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="col-md-6 mb-3">
                <select name="price" class="form-control">
                  <option selected="true" disabled="disabled">Giá (tất cả)</option>
                  {% for key,value in price_choices.items %}
                      <option value="{{ key }}"
                      {% if key == values.price %}
                        selected
                      {% endif %}
                      >{{ value }}</option>
                    {% endfor %}
                </select>
              </div>
            </div>
            <button class="btn btn-secondary btn-block mt-4" type="submit">Tìm kiếm</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Breadcrumb -->
  <section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Trang chủ</a>
          </li>
          <li class="breadcrumb-item">
            <a href="{% url 'listings' %}"> Bất động sản</a>
          </li>
          <li class="breadcrumb-item active"> Kết quả tìm kiếm</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Listings -->
  <section id="listings" class="py-4">
    <div class="container">
      <div class="row">
        {% if listings %}
          {% for listing in listings %}
          <div class="col-md-6 col-lg-4 mb-4">
              <div class="card listing-preview">
                <img class="card-img-top" src="{{ listing.preview }}" alt="">
                <div class="card-img-overlay">
                  <h2>
                    {% if listing.price <= 0.0 %}
                    <span class="badge badge-secondary text-white price-badge">Giá liên hệ</span>
                    {% else %}
                    <span class="badge badge-secondary text-white price-badge">${{ listing.price | intcomma }}</span>
                    {% endif %}
                  </h2>
                </div>
                <div class="card-body">
                  <div class="listing-heading text-center">
                    <h4 class="text-primary">{{ listing.title }}</h4>
                    <p>
                      <i class="fas fa-map-marker text-secondary"></i> {{ listing.city }} {{ listing.state }}, {{ listing.zipcode }}</p>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-th-large"></i> Diện tích: {{ listing.sqft }}m2
                    </div>
                    <div class="col-6">
                      <i class="fas fa-car"></i> Garage: {{ listing.garage }}
                    </div>
                  </div>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-bed"></i> Phòng ngủ: {{ listing.bedrooms }}</div>
                    <div class="col-6">
                      <i class="fas fa-bath"></i> Phòng tắm: {{ listing.bathrooms }}</div>
                  </div>
                  <hr>
                  <div class="row py-2 text-secondary">
                    <div class="col-6">
                      <i class="fas fa-user"></i>{{ listing.realtor }}
                    </div>
                    <div class="col-6">
                      <i class="fas fa-clock"></i>{{ listing.list_date | timesince }}
                    </div>
                  </div>
                  <div class="row text-secondary pb-2">
                    <hr>
                    <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">Thông tin chi tiết</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="col-md-12">
            <p>Không tìm thấy bật động sản tương ứng.</p>
          </div>
        {% endif %}
      </div>

      <div class="row">
        <div class="col-md-12">
          {% if listings.has_other_pages %}
            <ul class="pagination">
              {% if listings.has_previous %}
                <li class="page-item">
                  <a href="?page={{listings.previous_page_number}}" class="page-link">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&laquo;</a>
                </li>
              {% endif %}
              {% for i in listings.paginator.page_range|slice:":20" %}
                {% if listings.number == i %}
                  <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                  </li>
                {% endif %}
              {% endfor %}
              {% if listings.has_next %}
                <li class="page-item">
                  <a href="?page={{listings.next_page_number}}" class="page-link">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link">&raquo;</a>
                </li>
              {% endif %}
            </ul>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  {% endblock %}
