{% extends 'admin/base.html' %}
{% load static %}

{% block branding %}
  <h1 id="head">
    <img src="{% static 'img/logo.png' %}" alt="Real Estate" height="50" width="80" class="brand_img"> Quản lý
  </h1>
{% endblock %}
{% block extrastyle %}
  <link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}