{% extends 'base.html' %}

{% block title %} | Quản lý bài đăng {% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4">Dashboard</h1>
        <p class="lead">Quản lý bài đăng bất động sản</p>
      </div>
    </div>
  </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">
            <i class="fas fa-home"></i>Trang chủ</a>
        </li>
        <li class="breadcrumb-item active">Bài đăng</li>
      </ol>
    </nav>
  </div>
</section>

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<section id="dashboard" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Chào mừng {{ user.first_name }} {{ user.last_name }}</h2>
        {% if listings %}
        <p>Danh sách các bài đăng gần đây</p>
        <a class="btn btn-success mb-4" href="{% url 'realtor_listings_create' %}">Đăng bài</a>
        <table class="table">
          <thead>
            <tr class="row">
              <th class="col-6" scope="col">Tiêu đề</th>
              <th class="col-2" scope="col">Giá</th>
              <th class="col-2" scope="col">Diện tích</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for listing in listings %}
            <tr class="row">
              <td class="col-6">{{ listing.title }}</td>
              <td class="col-2">{{ listing.price }}</td>
              <td class="col-2">{{ listing.sqft }}</td>
              <td class="col-2">
                <a class="btn btn-primary" href="{% url 'listing' listing.id %}">Sửa</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="row">
          <div class="col-md-12">
            {% if listings.has_other_pages %}
            <ul class="pagination">
              {% if listings.has_previous %}
              <li class="page-item">
                <a href="?page={{listings.previous_page_number}}" class="page-link">&laquo;</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link">&laquo;</a>
              </li>
              {% endif %}
              {% for i in listings.paginator.page_range|slice:":20" %}
              {% if listings.number == i %}
              <li class="page-item active">
                <a class="page-link">{{i}}</a>
              </li>
              {% else %}
              <li class="page-item">
                <a href="?page={{i}}" class="page-link">{{i}}</a>
              </li>
              {% endif %}
              {% endfor %}
              {% if listings.has_next %}
              <li class="page-item">
                <a href="?page={{listings.next_page_number}}" class="page-link">&raquo;</a>
              </li>
              {% else %}
              <li class="page-item disabled">
                <a class="page-link">&raquo;</a>
              </li>
              {% endif %}
            </ul>
            {% endif %}
          </div>
        </div>
        {% else %}
        <p>Bạn chưa tạo một bài đăng nào.</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
